<h6>PROGRAMMING LANGUAGES:</h6>
<p>- C# .NET, Vb .NET</p>
<p>- HTML , CSS , Javascript</p>
<p></p>
<h6>FRAMEWORKS & PLATFORMS:</h6>
<p>- ReactJS / AngularJS </p>
<p>- jQuery / Bootstrap / Semantic UI / Materialize CSS</p>
<p>- ASP.NET MVC / Entity Framework / LINQ to SQL</p>
<p>- ASP WebAPI / RestfulAPI / JSON, XML</p>
<p>- Devexpress / Telerik / Kendo UI</p>
<p></p>
<h6>DATABASE:</h6>
<p>- MS SQL Server / My SQL / Oracle 11.0 </p>
<p>- Fulltext search Solr</p>
<p></p>
<h6>VERSION CONTROL:</h6>
<p>- Git / TFS / SVN </p>
<p></p>
<h6>IDE</h6>
<p>- Visual Studio 2010 - 2019 </p>
<p>- Visual Studio Code</p>
<p></p>
