<h5>PROGRAMMING LANGUAGES:</h5>
<h6>- C# .NET, Vb .NET</h6>
<h6>- HTML , CSS , Javascript</h6>
<p></p>
<h5>FRAMEWORKS & PLATFORMS:</h5>
<h6>- ReactJS / AngularJS </h6>
<h6>- jQuery / Bootstrap / Semantic UI / Materialize CSS</h6>
<h6>- ASP.NET MVC / ASP.NET Core / Entity Framework / LINQ to SQL</h6>
<h6>- ASP WebAPI / RestfulAPI / JSON, XML</h6>
<h6>- Devexpress / Telerik / Kendo UI</h6>
<h6>- WPF, WCF Service</h6>
<p></p>
<h5>DATABASE:</h5>
<h6>- MS SQL Server, T-SQL / My SQL / Oracle 11.0 </h6>
<p></p>
<h5>VERSION CONTROL:</h5>
<h6>- Git / SVN </h6>
<p></p>
<h5>IDE: </h5>
<h6>- Visual Studio 2010 - 2019 </h6>
<h6>- Visual Studio Code</h6>
<p></p>
<h5>Design Pattern: </h5>
<h6>- IoC, DI, Generic Repository </h6>
<h6>- Factory Pattern, Singleton</h6>
<p></p>
<h5>OS: </h5>
<h6>- IIS, Apache </h6>
<p></p>
<h5>Other:</h5>
<h6>- Flexcel report</h6>
<h6>- Full text search Solr</h6>
